<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %> <!-- метод предотвращает подделку межсайтовых запросов (CSRF), одного из видов вредоносных веб-атак.-->
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> <!-- подключение стилей -->
    <!--в ней заключено не менее четырех идей, которые могут сбить с толку: встроенные Rails-методы, вызов метода без скобок, символы и хэши-->
    <!-- 1. скобки опущены, можно было stylesheet_link_tag ('application', media: 'all', 'data-turbolinks-track': 'reload')  -->
    <!-- 2.  media: 'all' - это хэш, Когда хэш является ПОСЛЕДНИМ аргументом в вызове функции, фигурные скобки можно опустить
            можно было: stylesheet_link_tag 'application', { media: 'all', 'data-turbolinks-track': 'reload' }    -->
    <!-- 3. в качестве ключа, видимо, используется строка 'data-turbolinks-track': 'reload' -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>               <!-- подключение сценариев JavaScript-приложения-->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!-- при посещении какой-либо страницы использование этого макета обеспечивает 
     преобразование содержимого 'страница'.html.erb в разметку HTML и вставку ее на мес­то <%= yield %>
     !!!!!!!!!-->
    </div>
  </body>
</html>
<!-- в папке shared «служебные» шаблоны, которые используются в нескольких страницах,
а шаблоны, необходимые буквально в каждой странице (такие как части макета сайта), – хра-
нить в каталоге layouts. 

Мы создадим каталог shared в главе 7. Это кажется мне более логичным,
впрочем, хранение всех шаблонов в общей папке shared ничуть не хуже.

-->
